@import "not_logged_layout";
@import "modals";
@import "table_grids";

*:focus {
  outline: none;
}

.main-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;

  #sidebar-wrapper, #content-wrapper{ height: 100%; }
  #sidebar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    background: #eee;

    #logo{
      height: 180px;
      display: block;
      text-align: center;
      @include background(image-url('logo-small.png') no-repeat center center, radial-gradient(color-stops(#f9b951, $orange), center center));
    }

    .sidebar-menu{
      margin: 0;

      a{
        $padding-left: 65px;
        display: block;
        padding-left: $padding-left;
        text-decoration: none;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        font-family: 'Scada', sans-serif;
        color: #666;

        @each $section in $app_sections {
          &.#{$section} {
            $image: 'icons/#{$section}-mini.png';
            background: image-url($image) no-repeat;
            background-position: 25px center;
          }
        }

        &.active{
          $border-left: 3px;
          color: #000;
          background-color: #fff;
          border-left: $border-left solid $orange;
          padding-left: $padding-left - $border-left;
          background-position: (25px - $border-left) center;

          &:hover{
            color: #000;
          }
        }

        &:hover{
          color: #444;
        }
      }
    }
  }

  #content-wrapper{
    margin-left: 240px;
    background: image-url('bg.png') repeat;

    .header{
      padding: 18px 30px;
      border-bottom: 1px solid #ddd;
      position: relative;
      @include background-image(linear-gradient(top, #f8f8f8, #f3f3f3));
      @include clearfix;

      .title{
        float: left;
        height: 29px;
        margin: 0;
        padding: 16px 0 0 60px;
        line-height: 29px;
        font-size: 24px;
        color: $orange;
        font-family: 'Scada', sans-serif;

        @each $section in $app_sections {
          &.#{$section} {
            $image: 'icons/#{$section}.png';
            background: image-url($image) no-repeat top left;
          }
        }

        .subtitle{
          color: #333;
        }
      }

      .header-buttons{
        position: relative;
        float: right;

        button, .button{
          padding: 0 8px 0 26px;
          margin-left: 10px;
          display: inline-block;
          line-height: 30px;
          border: none;
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-family: 'Scada', sans-serif;
          font-weight: normal;
          @include border-radius(5px);
          @include background-image(linear-gradient(top, #999, #888));

          &:hover{
            @include background-image(linear-gradient(top, #888, #777));
          }
        }
      }
    }

    #content{
      padding: 40px;
    }
  }
}