@import "dashboard";

.page-header {
  padding-bottom: 0;
  margin: 0 0 20px 0;
  h1 {
    img {
      float: left;
      margin: -6px 15px 0 0;
      color: #333;
    }
  }
}

.container {
  position: absolute;
  background: url('/assets/bg.png');
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  .row {
    height: 100%;
    background: #fff;
    // **********
    // Sidebar
    // **********
    .span4 {
      padding: 20px 0;
      background: $light_orange;
      text-align: center;
      img.logo {
        width: 120px;
        margin: 0 0 20px 0;
      }
      .userbox {
        margin: 0 20px;
        span.class-info {
          margin: 4px 0 0 0; display: block;
        }
        .select-child ul.dropdown-menu {
          min-width: 120px;
          li {
            a {
              text-align: left;
            }
          }
        }
      }
      ul.sidemenu {
        text-align: left;
        margin: 30px 0 0 0;
        li {
          a {
            padding: 12px 0 12px 35px;
            font-size: 14px;
            color: #333;
            &:hover {
              color: $dark_orange;
            }
            &:hover, &:focus {
              background: none;
            }
            img {
              width: 24px;
              height: 24px;
              margin: -2px 12px 0 0;
              float: left;
            }
          }
          &.active a {
            @include text-shadow(none);
            &, &:hover, &:focus {
              color: #ffffff;
              border-top: 1px solid $dark_orange;
              background: $dark_orange; /* Old browsers */
              @include background-image(linear-gradient(top, $orange, $dark_orange));
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$dark_orange',GradientType=1 ); /* IE6-9 */
            }
          }
        }
      }
    }
    // **********
    // Content
    // **********
    .span8 {
      padding: 30px;
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  .row {
    .span4 { width: 100%; border-right: none; border-bottom: 1px solid #ff9b40; }
  }
}

@media (min-width: 480px) {
  .row {
    .span4 { height: 100%; width: 280px; position: fixed; z-index: 10; border-right: 1px solid #ff9b40; border-bottom: none; }
    .span8 { position: absolute; left: 281px; z-index: 1; }
  }
}
