@import "bootstrap";

body {
  padding: 0;
}

.not-logged-wrapper {
    width: 90%;
    height: 100%;
    position: fixed;
    padding: 0 5%;
    overflow: scroll;
    background: #ffebdd; /* Old browsers */
    @include background-image(linear-gradient(top, #ffebdd, #ffcfad));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebdd', endColorstr='#ffcfad',GradientType=1 ); /* IE6-9 */
    a.logo {
      width: 140px;
      margin: 5% auto 0 auto;
      display: block;
    }
    .not-logged-container {
      margin: 20px auto 5% auto;
      padding: 30px;
      max-width: 320px;
      background: #fff;
      @include single-box-shadow($dark_orange);
      @include border-radius(15px);
      h2 {
        margin: 0 0 15px 0;
        text-align: center;
      }
      .alert {
        margin: 0 0 10px 0;
      }
      .form-inputs {
        margin: 10px 0 0 0;
      }
    }
}