body { padding: 0; }
div.not-logged-wrapper { width: 90%; height: 100%; position: fixed; padding: 0 5%; overflow: scroll; }
div.not-logged-wrapper {
    background: #ffebdd; /* Old browsers */
    background: -moz-linear-gradient(top, #ffebdd 0%, #ffcfad 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffebdd), color-stop(100%,#ffcfad)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffebdd 0%,#ffcfad 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffebdd 0%,#ffcfad 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffebdd 0%,#ffcfad 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffebdd 0%,#ffcfad 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebdd', endColorstr='#ffcfad',GradientType=0 ); /* IE6-9 */
}

div.not-logged-wrapper a.logo { width: 160px; margin: 5% auto 0 auto; display: block; }
div.not-logged-container { margin: 20px auto 5% auto; padding: 30px; max-width: 320px; background: #fff; border: 1px solid #FFC6A5; }
div.not-logged-container h2 { margin: 0 0 15px 0; text-align: center; }
div.not-logged-container div.alert { margin-bottom: 10px; }
div.not-logged-container div.form-inputs { margin: 10px 0 0 0; }

.rounded-corners-15 {
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari, Chrome */
  border-radius: 15px; /* CSS3 */
}
.box-shadow {
  -moz-box-shadow: 0 0 15px #aaa; /* Firefox */
  -webkit-box-shadow: 0 0 15px #aaa; /* Safari, Chrome */
  box-shadow: 0 0 15px #aaa; /* CSS3 */
}