<% if current_user.teacher? %>
  <div class="action-buttons">
    <button class="btn add" type="button"><i class="icon-plus"></i> Afegir comunicació</button>
  </div>

  <%= render partial: 'form' %>
<% end %>