////////////
//
//  BUTTONS
//
////////////

.btn{
  min-width: 3.2rem;
  padding: 0.35rem 0.7rem;
  font-size: 0.8rem;
  border-style: solid;
  border-width: $default-border-width;
  border-radius: $small-border-radius;
  cursor: pointer;
  @include box-sizing(content-box);

  &.btn-orange{
    color: white;
    border-color: $dark-orange;
    @include bg-linear-light-orange-darken-to-orange-darken;

    &:hover{
      border-color: $orange;
      @include bg-linear-light-orange-to-orange;
    }
  }

  &.btn-gray{
    color: $darker-gray;
    border-color: $light-gray;
    @include bg-linear-white-to-lighter-gray;

    &:hover{
      @include bg-linear-white-to-lightest-gray;
    }
  }
}