////////////
//
//  ICONS
//
////////////

i{
  &.btn-add{
    &:before{
      content: '+';
      color: white;
    }
  }

  &.btn-back{
    &:before{
      content: '<';
      color: white;
    }
  }
}