<ul class="items-list">
  {{#each}}
    <li class="item">
      <div class="date">
        <span class="day">22</span>
        <span class="month">Novembre</span>
      </div>
      <div class="content">
        <p class="title">{{title}}</p>
        <p class="body">{{body}}</p>
      </div>
    </li>
  {{/each}}
</ul>