{{#if currentUser.isTeacher}}
  <div class="action-buttons">
    <button class="btn add" type="button"><i class="icon-plus"></i> Afegir comunicació</button>
  </div>
{{/if}}

<ul class="items-list">
  {{#each}}
    <li class="item">
      <div class="date">
        <span class="day">22</span>
        <span class="month">Novembre</span>
      </div>
      <div class="content">
        <p class="title">{{title}}</p>
        <p class="body">{{body}}</p>
      </div>
    </li>
  {{/each}}
</ul>