@import "bootstrap_and_overrides";

body {
  padding-top: 40px;
  background: url("/assets/website/bg.png") repeat;
}

#wrapper-content {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #EEE;
  @include box-shadow(0 0 10px #CCC);
  #header {
    width: 880px;
    padding: 30px 40px 0 40px;
    font-family: 'Indie Flower', cursive;
    a.logo {
      float: left;
      img {
        display: block;
      }
    }
    ul {
      &#right-menu {
        float: right;
        margin: 30px 0 0 0;        
      }
      &#main-menu {
        float: left;
        margin: 30px 0 0 20px;
      }
      li {
        float: left;
        display: inline-block;
        a {
          float: left;
          color: #000;
          text-decoration: none;
          font-size: 18px;
          &:hover, &.active {
            color: $orange;
          }
        }
        span.sep {
          float: left;
          color: $orange;
          padding: 0 8px;
          font-size: 18px;
        }
      }
    }
  }
  #content {
    width: 880px;
    padding: 0 40px;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'Actor', sans-serif;    
    .content-left {
      float: left;
      width: 520px;
      height: 287px;
      margin: -20px 0 0 60px;
      padding: 60px 35px 30px 35px;
      h2 {
        color: $orange;
        font-size: 18px;        
        font-family: 'Indie Flower', cursive;
      }
      p {
        line-height: 125%;
        margin: 15px 0 0 0;
      }
      a {
        color: $orange;
        text-decoration: none;
        border-bottom: 1px solid $orange;
        &:hover {
          color: #ff7700;
          border-bottom: 1px solid #ff7700;
        }
      }
      &#que-es {
        background: url("/assets/website/bg-box-quees.png") no-repeat center center;
      }
      &#objectius {
        background: url("/assets/website/bg-box-objectius.png") no-repeat center center;
      }
      &#qui-som {
        background: url("/assets/website/bg-box-quisom.png") no-repeat center center;
      }
      &#contacte {
        background: url("/assets/website/bg-box-contacte.png") no-repeat center center;
        form#contact-form {
          width: 390px;
          margin: 20px 0 0 0;
          .form-group {
            margin: 6px 0 0 0;
            label {
              float: left;
              width: 70px;
              margin: 7px 0 0 0; 
            }
            input[type=text], textarea {
              float: right;
              padding: 6px 8px;
              border: 1px solid $orange;
              @include border-radius(15px);
              &:focus {
                outline: none;
              }
            }
            input[type=text] {
              width: 200px;
              margin: 0 100px 0 0;
            }
            textarea {
              width: 300px;
              margin: 0;
              resize: none;
            }
            input[type=submit]{
              float: right;
              margin: 0;
              padding: 5px 16px;
              color: #fff;
              background: $orange;
              font-size: 13px;              
              border: none;
              cursor: pointer;
              @include border-radius(15px);
            }
          }
        }
      }
    }
    .content-right {
      float: right;
      width: 213px;
      height: 200px;
      margin: 30px -10px 0 0;      
      position: relative;
      background: url("/assets/website/bg-social.png") no-repeat center center;
      #social-links {
        margin: 25px;
        font-family: 'Indie Flower', cursive;
        p {
          font-size: 18px;
        }
        a {
          float: left;
          margin: 10px 0 0 0;
          img {
            float: left;
          }
        }
      }
      span {
        position: absolute;
        bottom: 14px;
        right: 30px;
        font-size: 20px;
        color: #fff; font-family: 'Indie Flower', cursive;
      }
    }
  }
  #wrapper-footer {
    padding: 15px 0;
    margin: 40px 0 0 0;
    width: 960px;
    background: $orange; /* Old browsers */
    @include background-image(linear-gradient(top, $orange, $dark_orange));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$dark_orange',GradientType=1 ); /* IE6-9 */
    #footer {
      max-width: 960px;
      margin: 0 auto;
      color: #fff;
      font-family: 'Indie Flower', cursive;
      font-size: 14px;
      p {
        text-align: center;
      }
    }
  }
}

.clear { clear: both; visibility: hidden; height: 0; }