//*******************
//  SASS Config
//*******************

$app-sections: dashboard, communications, materials;

////////////
//
//  COLOR PALETTE
//
////////////

// ORANGES
$orange      : #ff9b40;
$light-orange: #f9b951;
$dark-orange : #ff7700;
