<div class="page-header">
  <h1><img src="<%= asset_path('icons/materials.png') %>" />Material <small><%= header_subtitle %></small></h1>
</div>

<% if current_user.teacher? %>
  <div class="action-buttons">
    <button class="btn add" type="button"><i class="icon-plus"></i> Afegir material</button>
  </div>

  <%= render partial: 'form' %>
<% end %>